* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary: "Roboto", sans-serif;
}
body {
  background-color: #000;
  font-family: var(--ff-primary);
  font-size: 1.6rem;
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 120rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.5rem 0;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  width: 46.2rem;
  background-color: #06181c;
  border: none;
  padding: 1.6rem;
  border-radius: 0.5rem;
  color: #ffffff;
}

.search button {
  background-color: #065e7c;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: .5rem;
}

.search button:hover {
  filter: brightness(1.1);
}

table {
  width: 100%;
  border-collapse: collapse;

  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
  font-size: 1.4rem;
  color: #fff;
}

table th {
  background: var(--primary-color);
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}

table th:first-child {
  border-top-left-radius: 0.4rem;
}

table th:last-child {
  border-top-right-radius: 0.4rem;
}
thead{
    background-color: #092D38;
    color: #fff;
}
table tr th{
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-right: 2.4rem;
}
table tr:nth-child(odd) {
    background-color: rgba(6, 22, 27, 0.5);
    
}

table tr:nth-child(even) {
  background: #06181C;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;
  color: rgba(255, 0, 0, 0.986);
}
